.dropbtn {
    background-color: green;
    color:white;
    padding:15;
    border:none;
    cursor:pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    z-index:1;
    height: 260px;
}
.dropdown-content a {
    color:yellow;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: midnightblue;}
.dropdown:hover .dropdown-content {
    display: block;
}